@{
    Page.Title = "Custom Application Development";
    Layout = "~/_Layout.cshtml";
}

@section head {
    
}

<div id="about" class="section wb nopadtop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m40">
                <div class="message-box">
                


    We offers varied approaches in development, bringing together mobility, APIs, architectures and cloud services around new delivery models, skirting traditional approaches, for faster and more effective solutions.

Custom application design and development of open standards based systems, using Java and Microsoft .NET technologies
Customization and integration of third-party software, including in-depth knowledge of leading application server technology
Mobile development on Apple iOS and Android platforms
Design and development of content management systems for corporate intranets and extranets
Internationalization and localization of Web applications
Web-enablement of legacy applications


                </div>
            </div>
        </div>
    </div>
</div>