@{
    Page.Title = "eCommerce Website Development";
    Layout = "~/_Layout.cshtml";
}

@section head {
    
}

<div id="about" class="section wb nopadtop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m40">
                <div class="message-box">


                </div>
            </div>
        </div>
    </div>
</div>
