@{
    Page.Title = "Human Resource Management System (HRMS)";
    Layout = "~/_Layout.cshtml";
}
@section head {
}
<div id="about" class="section wb nopadtop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m40">
                <div class="message-box">
                    <style type="text/css">
                        .solhead1
                        {
                            font-size: large;
                            color: #CC0000;
                            margin-top: 5px;
                            padding-left: 0px;
                        }
                        
                        
                        .style13
                        {
                            font-size: 12px;
                            color: #333333;
                        }
                        
                        
                        ul.bpmtxt
                        {
                            font-size: 18px;
                            color: #CC0000;
                        }
                    </style>
                    
                        <h2>AppFlexHR</h2>
                    <p align="justify">
                        AppFlexHR is a complete solution for Human Resource Management and optimization for all sizes of organizations. It covers various aspects of the HR activities, starting from Selection, Induction to Training, evaluation, appraisal and exit management. AppFlexHR eliminates maximum timeconsuming HR Executives work and provides powerful tools for managing information of employees - your organization&#39;s greatest asset and investment. AppFlexHR is available in two modes viz Internet Hosted model (SAaS) and hosted with in company allowing you to manage multiple companies multiple company locations and multiple branches at the same time in an integrated manner, and can be integrated with any ERP solution to make the resource management complete.<br />
                        <br />
                    </p>
                    
                </div>
            </div>
            <div class="col-md-3 m40">
                        <table width="100%">
                            <tr>
                                <td valign="top">
                                    <span class="solhead1" style="color:Black;">List of Modules in HRMS</span><br />
                                    <ul class="bpmtxt">
                                        <li>Recruitment Management<br />
                                        </li>
                                        <li>Induction Process<br />
                                        </li>
                                        <li>Leave / Time Management<br />
                                        </li>
                                        <li>Employee Information<br />
                                        </li>
                                        <li>Appraisal System<br />
                                        </li>
                                        <li>Succession Planning<br />
                                        </li>
                                        <li>Training Management System<br />
                                        </li>
                                        <li>Grievance Tracking System<br />
                                        </li>
                                        <li>Exit Interview<br />
                                        </li>
                                        <li>MIS Reporting<br />
                                        </li>
                                        <li>User Workflow Management</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                       
                    </div>
             <div class="col-md-9 m40">
                            <div class="post-media wow fadeIn">
                                <img src="images/our_team.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
        </div>
    </div>
</div>
