@{
    Page.Title = "Legacy Migration Service";
    Layout = "~/_Layout.cshtml";
}

@section head {
    
}

<div id="about" class="section wb nopadtop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m40">
                <div class="message-box">

                

    We help companies to become digital enterprises by re-engineering existing processes for continuous improvement and eliminating the risk of failure. We leverage in-house tools, accelerators and technologies to cut cost and time while realizing business benefits continuously.

Development of tailored, enterprise-quality applications, using our applications generation technology
Re-platforming of legacy applications by re-creating new applications
Enterprise level integration via flexible mechanisms such as SOA and web services
Unprecedented cost advantage, using a combination of our application generation technology and our offshore delivery model
Rapid application generation in response

                </div>
            </div>
        </div>
    </div>
</div>