@{
    Page.Title = "Our Team";
    Layout = "~/_Layout.cshtml";
}
@section head {
}
<div id="about" class="section wb nopadtop">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m40">
                <div class="message-box">
                    The company is proud to have a workforce that leads the organization and its clients towards success. IT Solution is a complex process and knowledgeable IT wizards can only resolve it. The company is proud to have the most talented and creative professionals working in its team. We have a strong foundation of intellectual capital and result-orientation. The team is a strategic mix of professionals from technology, consulting, business management and client servicing domains. It includes web designer, web developer, software developer, content writer, graphic designer / visualizer, management professional And Expert Search Engine Optimizer. The company is aware of the critical role played by the team members and takes all possible measures to maintain the efficiency of the workforce. Whether it's a matter of innovation, strict deadline based delivery, or quality consciousness, the team at Sequentec is committed to give hundred percent.
                </div>
            </div>
             <div class="col-md-6 m40">
                <div class="post-media wow fadeIn">
                    <img src="images/our_team.jpg" alt="" class="img-fluid">
                </div>
            </div>
            
        </div>
    </div>
</div>
